.DS_Store
.idea/
.gradle/
build/
target/

## Emacs ignores
*~
*.*~
*/*.*~
*/#*
*/.#*

## Netbeans ignores
nb-configuration.xml
nbactions.xml

## Package files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*